<section class="hero">
  <div class="hero__inner">
    <div class="left__content">
      <div class="hero__image">
        <img class="hero__shadow hero__shadow--purple" src="assets/img/shadows/Purple-shadow-Foto.png" alt="">
        <img class="hero__shadow hero__shadow--green" src="assets/img/shadows/Green-shadow-Foto.png" alt="">
        <img class="hero__profile" src="assets/img/portfolio-img.png" alt="Portrait Marvin">
      </div>
    </div>

    <div class="right__content">
      <div class="hero__content">
        <div class="hero__intro">
          <span class="hero__iam">I am</span>

          <div class="hero__title">
            <h1>Marvin Straßer</h1>
            <h2>Frontend Developer</h2>
          </div>
        </div>

        <div class="hero__actions">
          <button class="btn btn--primary">
            Let's talk
          </button>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="portfolio">
  <app-portfolio></app-portfolio>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>