@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.pollo-loco-container {
    display: flex;
    color: white;
    align-items: center;
    padding-top: 116px;
    justify-content: flex-end;
    max-width: $max-content;
    margin: 0 auto;

    .pollo-loco-screens {
        width: 100%;
        height: 339px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin-right: 25px;
        z-index: 4;


        img {
            max-width: 370px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

    }

    .pollo-loco-description {
        display: flex;
        height: 339.19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 35px;
        margin-left: 100px;
        z-index: 5;


        .pollo-loco-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;


            h3 {
                margin: 0;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                color: #9747FF;
            }

            p {
                font-size: 23px;
                font-style: normal;
                font-weight: 400;
                color: #70E61C;
            }

            span {
                font-size: 16px;
                font-weight: 400;
            }
        }


        .live-test-btn {
            margin-right: 135px;
            width: 165px;
            height: 60px;
            background: #9747FF;
            border-radius: 15px;
            color: white;
            font-size: 23px;
            font-weight: 400;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            transition: 0.1s ease;

            &:hover {
                background-color: #70E61C;
            }
        }

        .github-btn {
            background-color: #141D2F;
            border-style: unset;
            border: 1px solid #70E61C;
            width: 165px;
            height: 60px;
            border-radius: 15px;
            color: white;
            font-size: 23px;
            font-weight: 400;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            transition: 0.1s ease;

            &:hover {
                background-color: #70E61C;
            }
        }
    }
}

.green-shadow2 {
    position: absolute;
    top: 2950px;
    height: 500px;
    flex-shrink: 0;
    z-index: 3;
    right: 0;
}

@media(max-width: 1090px) {
    .pollo-loco-container {
        flex-direction: column-reverse;
        margin-right: 0px;

        .pollo-loco-screens {
            padding: 0px;
            margin: 0;
        }

        .pollo-loco-description {
            margin-left: unset;
            box-sizing: border-box;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0px 16px;

            .pollo-loco-text {
                align-items: flex-end;
                margin-top: 30px;
            }
        }
    }

    .green-shadow2 {
        top: 3848px;
        right: 0;
    }
}

@media (max-width: 700px) {
    .pollo-loco-container{
        padding: 0 16px;
    }
    .pollo-loco-description {
        width: 90%;
        padding: 0px 0px;
    }

    .live-test-btn {
        margin-right: 50px;
    }
}

@media (max-width: 544px) {
    .pollo-loco-container {
        .pollo-loco-description {
            .testing {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                gap: 10px;


                .live-test-btn {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 490px) {
    .live-test-btn {
        width: 140px;
        height: 55px;
        font-size: 20px;
    }

    .github-btn {
        width: 140px;
        height: 55px;
        font-size: 20px;
    }

    .pollo-loco-description {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .pollo-loco-screens {
        width: 100vw;

        img {
            width: 90vw;
            height: 165px;
        }
    }

    .pollo-loco-description {
        width: 90vw;
    }

    .live-test-btn {
        width: 125px;
        height: 50px;
    }

    .github-btn {
        width: 125px;
        height: 50px;
    }
}

@media (max-width: 300px) {
    .live-test-btn {
        width: 115px;
        height: 50px;
    }

    .github-btn {
        width: 115px;
        height: 50px;
    }
}