<div class="social-links">
  <span class="green-line"></span>
  <a class="social-links__icon" href="https://github.com/MarvinStrasser" target="_blank" rel="noopener noreferrer">
    <img src="assets/img/icons/Github-button.svg" alt="GitHub">
  </a>

  <a class="social-links__icon" href="mailto:marvin.strasser@icloud.com">
    <img src="assets/img/icons/Email-button.svg" alt="E-Mail">
  </a>

  <a class="social-links__icon" href="https://www.linkedin.com/in/marvin-stra%C3%9Fer-a505773a7/" target="_blank" rel="noopener noreferrer">
    <img src="assets/img/icons/Linkedin-button.svg" alt="LinkedIn">
  </a>

  <a class="social-links__mail" href="mailto:marvin.strasser@icloud.com">
    marvin.strasser&#64;icloud.com
  </a>
</div>