@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.social-links {
  @include flex(flex-start, center, 24px, row, wrap);
  color: $color-text-primary;

  &__icon {
    display: inline-flex;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
      display: block;
      object-fit: contain;
    }
  }

  &__mail {
    text-decoration: none;
    color: $color-text-primary;
    font-size: 20px;
    transition: color $transition-fast;

    &:hover {
      color: $color-accent-green;
    }
  }
}

@media (max-width: 900px) {
  .social-links {
    @include flex(center, center, 16px, row, wrap);

    &__mail {
      font-size: 18px;
    }
  }
}

@media (max-width: 360px) {
  .social-links {
    gap: 12px;

    &__mail {
      font-size: 16px;
    }

    &__icon img {
      width: 28px;
      height: 28px;
    }
  }
}