<header class="header">
  <div class="header-inner">
    <a class="logo" routerLink="/">
      <span>M</span><span style="color: #9747FF;">A</span><span>R</span><span>VI</span><span
        style="color: #70E61C;">N</span>
    </a>

    <button class="burger" (click)="toggleMenu()" [class.is-open]="menuOpen" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="header-right" [class.is-open]="menuOpen">
      <nav class="nav">
        <a class="nav-link" data-section="about-me" [routerLink]="['/']" fragment="about" (click)="closeMenu()">{{
          t('nav.about') }}</a>

        <a class="nav-link" data-section="skills" [routerLink]="['/']" fragment="skills" (click)="closeMenu()">{{
          t('nav.skills') }}</a>

        <a class="nav-link" data-section="portfolio" [routerLink]="['/']" fragment="portfolio" (click)="closeMenu()">{{
          t('nav.portfolio') }}</a>
      </nav>

      <div class="lang">
        <button class="lang-btn" [class.is-active]="activeLang === 'de'" (click)="setLang('de')" type="button">
          {{ t('lang.de') }}
        </button>
        <button class="lang-btn" [class.is-active]="activeLang === 'en'" (click)="setLang('en')" type="button">
          {{ t('lang.en') }}
        </button>
      </div>
    </div>
  </div>
</header>