.my-skills-container {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1440px;


    .skills {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        height: 414px;
        width: 721px;
        gap: 54px;
        margin-right: 48px;
        z-index: 4;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            cursor: pointer;

            &:hover {
                animation: bounce 1.5s ease-in-out;
            }
        }
    }

    .skills-row {
        display: flex;
        align-items: center;
        gap: 120px;
    }

    .skill-name {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .skills-description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 471px;
        margin-right: 42px;
        gap: 34px;
        z-index: 5;

        h2 {
            text-align: right;
            font-size: 90px;
            font-weight: 700;
            margin: 0;
        }

        span {
            text-align: right;
            font-size: 16px;
            font-weight: 400;
        }

        button {
            margin-right: 135px;
            width: 165px;
            height: 60px;
            background: #70E61C;
            border-radius: 15px;
            color: white;
            font-size: 23px;
            font-weight: 400;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            transition: 0.1s ease;

            &:hover {
                width: 175px;
                height: 70px;
                background-color: #4B47FF;
            }
        }
    }

    .purple-line {
        width: 100px;
        height: 5px;
        background-color: #4B47FF;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.purple-shadow2 {
    position: absolute;
    top: 1900px;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    width: 400px;
    height: 900px;
    left: 0;
}

@media(max-width: 1090px) {
    .my-skills-container {
        flex-direction: column-reverse;
        align-items: center;

    }

    .skills-description {
        align-items: center;
        margin-right: 0px;
        width: unset;
    }

    .purple-line {
        display: none;
    }

    .btn-container {
        box-sizing: border-box;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;

        button {
            margin-right: 0;
        }
    }

    .green-shadow2 {
        top: 2800px;
        left: 0;
    }
}


@media (max-width: 700px) {
    .skills {
        width: 90vw;
        height: max-content;
        margin-right: unset;
        margin-left: unset;
        align-items: center;
        justify-content: center;
    }

    .skills-description {
        width: 90vw;
    }

    .skills-description span {
        text-align: center;
    }

    .skills-row {
        gap: 80px;
        justify-content: center;
    }
}

@media (max-width: 580px) {
    .skills-description h2 {
        font-size: 65px;
    }
}

@media (max-width: 490px) {
    .btn-container {
        button {
            width: 140px;
            height: 55px;
            font-size: 20px;
        }
    }

    .skills {
        gap: 100px;
    }

    .skills-row {
        gap: 100px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .skills-description {
        h2 {
            font-size: 49px;
        }
    }

    .my-skills-container {
        width: 100vw;
        margin-top: 0px;
    }

    .skills {
        width: 100vw;
    }

    .green-shadow2 {
        width: 280px;

        img {
            width: 280px;
        }
    }
}