@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.my-skills-container {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: $max-content;
    margin: 0 auto;
    padding-top: 120px;

    .skills {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        width: 721px;
        gap: 54px;
        margin-right: 48px;
        z-index: 4;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            cursor: pointer;

            &:hover {
                animation: bounce 1.5s ease-in-out;
            }
        }
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-10px);
        }

        60% {
            transform: translateY(0);
        }

        80% {
            transform: translateY(-5px);
        }
    }

    .skills-row {
        display: flex;
        align-items: center;
        gap: 91px;
    }

    .skill-name {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 88px;
        width: 95px;
    }

    .skills-description {
        display: flex;
        flex-direction: column;
        width: 471px;
        gap: 34px;
        z-index: 5;
        justify-content: center;
        align-items: flex-start;

        .skills-head {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 28px;
        }

        h2 {
            position: absolute;
            margin: 0;
            font-size: 90px;
            font-weight: 700;
            line-height: 1;
            white-space: nowrap;
            z-index: 2;
        }

        .blue-line {
            margin-left: calc(10% + 220px);
            flex: 1;
            height: 5px;
            background-color: $color-accent-light-blue;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .skills-text {
            font-size: 16px;
            font-weight: 400;
            max-width: 520px;
            padding-right: 16px;
        }
    }

    span {
        font-size: 16px;
        font-weight: 400;
        padding-right: 0;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .btn-primary {
        z-index: 6;
        width: 180px;
        height: 60px;
        background-color: $color-accent-green;
        color: $color-text-primary;
        border-radius: 15px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: transform $transition-fast, background-color $transition-fast;

        &:hover {
            background-color: $color-accent-purple;
            transform: translateY(-2px);
        }
    }

    .btn-container-mobile {
        display: none;
    }
}

.purple-shadow2 {
    position: absolute;
    top: 1900px;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    width: 400px;
    height: 900px;
    left: 0;
}

@media (max-width: 1140px) {
    .my-skills-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 0px 16px 0px;

        .skills-description {
            align-items: flex-start;
            margin-right: 0px;
            width: 100%;
            padding: 0 0 50px 100px;
            box-sizing: border-box;
        }

        .skills {
            width: 100%;
            margin: 0;
            align-items: flex-start;
        }

        .mobile{
            width: 100%;
            padding-left: 100px;
            box-sizing: border-box;
        }

        .skills-row {
            padding: 0;
            width: 100%;
        }

        .btn-container-desktop {
            display: none;
        }

        .btn-container-mobile {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 75px;
        }

        .skills-text {
            padding: 0;
        }
    }
}

@media (max-width: 780px) {
    .my-skills-container {
        padding: 150px 0 50px 16px;

        .skills-description {
            padding: 0 0 50px 0px;
        }

        .mobile{
            padding-left: 0;
        }
        .skills-row {
            padding: 0;
            gap: 40px;
        }
    }
}

@media (max-width: 550px) {
    .my-skills-container {
        .btn-container {
            button {
                width: 140px;
                height: 55px;
                font-size: 20px;
            }
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 24px;
            justify-items: center;

            img {
                height: 45px;
                width: 45px;
            }
        }

        .skills-row {
            display: contents;
        }
    }
}


@media (max-width: 400px) {
    .my-skills-container {
        .skills-description {
            h2 {
                font-size: 45px;
            }

            .blue-line {
                margin-left: calc(10% + 120px);
            }
        }
    }
}