@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.portfolio-head-container {
    padding-top: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 3;
    max-width: $max-content;
    margin: 0 auto;

    h2 {
        margin: 0;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
    }

    p {
        margin: 0;
        margin-top: 35px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .purple-line-left {
        height: 5px;
        width: 109px;
        flex-shrink: 0;
        background-color: #9747ff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 36px;
        z-index: 1;
    }
}

.portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
}

@media (max-width: 720px) {
    .title-and-description {
        padding-right: 16px;
    }
}

@media (max-width: 565px) {
    .portfolio-head-container {
        .purple-line-left {
            display: none;
        }
    }

    .title-and-description {
        padding-left: 16px;

        h2 {
            font-size: 70px;
        }
    }
}

@media (max-width: 400px) {
    .title-and-description {
        h2 {
            font-size: 45px;
        }
    }
}