.portfolio-head-container {
    padding-top: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    max-width: 1440px;

    h2 {
        margin: 0;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
    }

    p {
        margin: 0;
        margin-top: 35px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .purple-line-left {
        height: 5px;
        width: 109px;
        flex-shrink: 0;
        background-color: #9747ff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 36px;
        z-index: 1;
    }

    .purple-line-right {
        height: 5px;
        width: 484px;
        flex-shrink: 0;
        background-color: #9747ff;
        margin-left: 36px;
        z-index: 1;
    }
}

.portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 90px; // Abstand zwischen Join und Pollo
    margin-top: 70px;
}