@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.portfolio-head-container {
    padding-top: 210px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 3;
    max-width: $max-content;
    margin: 0 auto;

    h2 {
        margin: 0;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
    }

    p {
        margin: 0;
        margin-top: 35px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .purple-line-left {
        height: 5px;
        width: 109px;
        flex-shrink: 0;
        background-color: #9747ff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 36px;
        z-index: 1;
    }
}

#portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-head-container,
.portfolio-projects {
    position: relative;
    z-index: 1;
}

.bg {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        width: 420px;
        height: 420px;
        left: -140px;
        top: 820px;

        background: url('../../../assets/img/shadows/Green-shadow-Foto.png') no-repeat center / contain;
        opacity: 0.7;
    }

    &::after {
        content: '';
        position: absolute;
        width: 589px;
        height: 608px;
        right: -140px;
        bottom: 920px;

        background: url('../../../assets/img/shadows/Blue\ shadow\ 1.png') no-repeat center / contain;
        opacity: 0.85;
    }
}

.portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
}

@media (max-width: 720px) {
    .title-and-description {
        padding-right: 16px;
    }
}

@media (max-width: 565px) {
    .portfolio-head-container {
        .purple-line-left {
            display: none;
        }
    }

    .title-and-description {
        padding-left: 16px;

        h2 {
            font-size: 70px;
        }
    }
}

@media (max-width: 400px) {
    .title-and-description {
        h2 {
            font-size: 45px;
        }
    }
}