@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.portfolio-head-container {
    padding-top: 210px;
    color: white;
    display: flex;
    align-items: flex-start; // statt center
    justify-content: flex-start;
    gap: 28px; // Abstand Line <-> Text
    position: relative;
    z-index: 3;
    max-width: $max-content;
    margin: 0 auto;

    h2 {
        margin: 0;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
        line-height: 1; // wirkt wie im Screenshot
    }

    p {
        margin: 0;
        margin-top: 18px; // bisschen kompakter wie im Screenshot
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        max-width: 520px; // damit es schön wie 2 Zeilen bricht
    }

    .purple-line-left {
        position: relative; // statt absolute
        left: 0;
        top: 24px;
        width: 60px;
        height: 5px;
        border-radius: 10px;
        background-color: $color-accent-purple;
        margin-top: 18px;
        flex: 0 0 auto;
    }
}


#portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-head-container,
.portfolio-projects {
    position: relative;
    z-index: 1;
}

.bg {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        width: 420px;
        height: 420px;
        left: -140px;
        top: 820px;

        background: url('../../../assets/img/shadows/Green-shadow-Foto.png') no-repeat center / contain;
        opacity: 0.7;
    }

    &::after {
        content: '';
        position: absolute;
        width: 589px;
        height: 608px;
        right: -140px;
        bottom: 920px;

        background: url('../../../assets/img/shadows/Blue\ shadow\ 1.png') no-repeat center / contain;
        opacity: 0.85;
    }
}

.portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
}

@media (max-width: 720px) {
    .title-and-description {
        padding-right: 16px;
    }
}

@media (max-width: 580px) {
    .portfolio-head-container {
        gap: 0;

        .purple-line-left {
            top: 0;
        }
    }

    .title-and-description {
        padding-left: 16px;

        h2 {
            font-size: 45px;
        }


    }
}