$max-content: 1920px;
$gutter: 24px;

$color-bg-primary: #141d2f;
$color-text-primary: #ffffff;

$color-accent-green: #70e61c;
$color-accent-purple: #9747ff;
$color-accent-light-blue: #1CDAE6;
$color-accent-red: #E61C40;

$color-border-light: rgba(255, 255, 255, 0.2);

$header-height: 109px;
$transition-fast: 125ms ease;
$container-width: 1920px;