$max-content: 1920px;

// Base colors
$color-bg-primary: #141d2f;
$color-text-primary: #ffffff;

// Accent colors
$color-accent-green: #70e61c;
$color-accent-purple: #9747ff;

// UI
$color-border-light: rgba(255, 255, 255, 0.2);

// Layout
$header-height: 109px;
$transition-fast: 125ms ease;
$container-width: 1440px;