<div class="join-container">
    <div class="join-screens">
        <img src="assets/img/Join_screens.png" [alt]="t.t('project.join.alt')">
    </div>

    <div class="join-description">
        <div class="join-text">
            <h3>Join</h3>
            <p>HTML | SCSS | Firebase</p>
            <span>
                {{ t.t('project.join.desc') }}
            </span>
        </div>

        <div class="testing">
            <a href="http://join.marvin-strasser.de/" target="_blank" rel="noopener noreferrer">
                <button class="live-test-btn">{{ t.t('project.join.live') }}</button>
            </a>

            <a href="https://github.com/MarvinStrasser/Join_Kanban-App" target="_blank" rel="noopener noreferrer">
                <button class="github-btn">{{ t.t('project.join.github') }}</button>
            </a>
        </div>
    </div>
</div>