<section id="about-me" class="about-me">
  <div class="about-me-container">
    <div class="about-social">
      <app-social-links></app-social-links>
    </div>

    <div class="left-content">
      <h2>{{ t('about.title') }}</h2>

      <p>{{ t('about.intro') }}</p>

      <div class="left-content-infos">
        <div class="flex-row">
          <img src="assets/img/bulb.png" [attr.alt]="t('about.bulbAlt')">
          <div>{{ t('about.block1') }}</div>
        </div>

        <div class="flex-row">
          <img src="assets/img/puzzle.png" [attr.alt]="t('about.puzzleAlt')">
          <div>{{ t('about.block2') }}</div>
        </div>
      </div>
    </div>

    <div class="right-content">
      <div class="right-content-image">
        <img src="./../../../assets/img/shadows/Green-shadow-Foto.png" alt="" class="green">
        <img src="./../../../assets/img/shadows/Purple-shadow-Foto.png" alt="" class="purple">
        <img class="profile-img" src="assets/img/portfolio-img.png" [attr.alt]="t('about.profileAlt')">
      </div>
    </div>
  </div>
  <div class="bg-shape" aria-hidden="true"></div>
</section>