<div id="about-me">
    <div class="about-me-container">




        <div class="about-me-left-content">
            <div class="social-media-links">
                <a href="https://github.com/MarvinStrasser" target="_blank">
                    <img src="assets/img/icons/Github-button.png" alt="">
                </a>
                <a href="mailto: marvin.strasser@icloud.com">
                    <img src="assets/img/icons/Email-button.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/marvin-stra%C3%9Fer-a505773a7/" target="_blank">
                    <img src="assets/img/icons/Linkedin-button.png" alt="">
                </a>
                <a href="#contact">marvin.strasser&#64;icloud.com</a>
            </div>
            <h2>About Me</h2>
            <p> Hi, I am a Junior Front-End Developer based in Ruhpolding, Germany.
                After 12 years of military service, including leadership experience as a Deputy Platoon Leader and three
                international deployments, I decided to pursue my long-standing passion for technology and programming.

                During my career in the military, I developed strong skills in teamwork, responsibility, discipline, and
                problem-solving - qualities that I now apply to software development.

                Through my training at Developer Akademie, I gained hands-on experience in building modern web
                applications using Angular and JavaScript. What started as an interest has grown into a true passion,
                and I am excited to begin my professional career in IT.
            </p>
            <div class="left-content-infos">
                <div class="flex-row">
                    <img src="assets/img/bulb.png" alt="">
                    <div>
                        I am excited to take the next step in my career as a Junior Web Developer and become part of a
                        motivated and collaborative team.
                        My goal is to continuously grow my skills while contributing to meaningful projects and
                        developing modern, user-friendly, and visually appealing applications.
                    </div>
                </div>

                <div class="flex-row">
                    <img src="assets/img/puzzle.png" alt="">
                    <div>
                        If you think I could be a valuable addition to your team and projects, I would be happy to
                        connect.
                        Lets discuss how we can work together to create effective and high-quality web solutions.
                        Feel free to get in touch at any time.
                    </div>
                </div>
            </div>
        </div>

        <div class="about-me-right-content">
            <div class="ellipse">
                <img src="assets/img/about-img.png" alt="face image">
            </div>
            <div class="green-line"></div>
        </div>
    </div>
</div>