@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

a {
  text-decoration: none;
  color: $color-text-primary;
  font-size: 23px;
  cursor: pointer;
}

#about-me {
  position: relative;
  width: 100%;
  background-color: $color-bg-primary;
  overflow: visible;
  z-index: 10;
}


.about-me-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  color: $color-text-primary;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left-content {
  width: 50%;
  box-sizing: border-box;
  z-index: 5;

  h2 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }

  p {
    margin: 35px 0;
    line-height: 1.6;
    font-size: 16px;
  }
}

.left-content-infos {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.right-content {
  width: 50%;
  box-sizing: border-box;
  z-index: 5;

  .right-content-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile-img {
  position: relative;
  z-index: 2;
  object-fit: cover;
  width: 80%;
}

.purple {
  position: absolute;
  z-index: 1;
  width: clamp(260px, 40vw, 400px);
  left: -50px;
  pointer-events: none;
  opacity: 0.5;
}


.green {
  position: absolute;
  z-index: 1;
  width: clamp(320px, 45vw, 500px);
  right: -160px;
  pointer-events: none;
  opacity: 0.5;
}

.about-social {
  position: absolute;
  top: 40px;
  left: 100px;
  z-index: 20;
  padding-right: 16px;

  &::before {
    content: '';
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 4px;
    background-color: $color-accent-green;
    border-radius: 999px;
  }
}


@media (max-width: 1090px) {
  .about-me-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    padding: 120px 40px;
  }

  .left-content,
  .right-content {
    width: 100%;
    padding-right: 0;
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .about-me-container {
    padding: 100px 16px;
  }
}

@media (max-width: 830px) {
  .about-me-container {
    padding: 100px 24px;
  }
}

@media (max-width: 580px) {
  .about-me-left-content h2 {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  .about-me-left-content h2 {
    font-size: 49px;
  }
}