@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.about-me-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('./../../../assets/img/bg-top-shape.png');
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;

  padding: 160px 40px 120px; // statt padding-top 250 + padding-left 102
  color: white;
  position: relative;
  box-sizing: border-box;
}

.about-me-left-content {
  width: 50%;
  padding-right: 121px;
  box-sizing: border-box;
  z-index: 5;

  h2 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }

  p {
    margin: 35px 0;
  }
}

.left-content-infos {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    flex-shrink: 0;
  }

  div {
    line-height: 1.5;
  }
}

.about-me-right-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  box-sizing: border-box;
  z-index: 5;
}

.about-me-right-content .ellipse {
  width: 453px;
  height: 453px;
  border: 4px solid #70E61C;
  border-radius: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.about-me-right-content .green-line {
  height: 4px;
  width: 100px;
  background-color: #70E61C;
  flex-shrink: 0;
}

/* -------- Responsive -------- */

@media (max-width: 1090px) {
  .about-me-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    padding: 120px 40px;
  }

  .about-me-left-content {
    width: 100%;
    padding-right: 0;
    max-width: 900px;
  }

  .about-me-right-content {
    width: 100%;
    justify-content: center;
  }

  .about-me-right-content .green-line {
    display: none;
  }
}

@media (max-width: 830px) {
  .about-me-right-content .ellipse {
    display: none;
  }

  .about-me-container {
    padding: 100px 24px;
  }
}

@media (max-width: 580px) {
  .about-me-left-content h2 {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  .about-me-left-content h2 {
    font-size: 49px;
  }
}