<div class="border-max-width">
    <div class="footer-container">
        <div class="footer-left">
            <div routerLink="/">
                <span>M</span><span style="color: #9747FF;">A</span><span>R</span><span>VI</span><span
                    style="color: #70E61C;">N</span>
            </div>
            <a class="footer-imprint" routerLink="/imprint">{{ t('legal.imprint.title') }}</a>
        </div>

        <div class="footer-middle">
            <span>&copy; Marvin Strasser 2026</span>
        </div>

        <div class="footer-right">
            <a href="https://github.com/MarvinStrasser" target="_blank">
                <img src="assets/img/icons/Github-button.png" alt="">
            </a>
            <a href="mailto: marvin.strasser@icloud.com">
                <img src="assets/img/icons/Email-button.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/marvin-stra%C3%9Fer-a505773a7/" target="_blank">
                <img src="assets/img/icons/Linkedin-button.png" alt="">
            </a>
        </div>

    </div>
</div>