@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.footer-container {
    position: relative;
    margin-top: 0px;
    height: 220px;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    background-color: #141D2F;
    box-sizing: border-box;
    max-width: $max-content;
    width: 100%;


    .footer-left {
        flex-direction: column;

        span {
            cursor: pointer;
            font-size: 32px;
            color: white;
            font-weight: 800;
        }

        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: white;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 50%;
                height: 2px;
                background-color: $color-accent-light-blue;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 200ms ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }

    }

    .footer-middle {
        span {
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .footer-right {
        display: flex;
        width: 174px;
        height: 40px;
        align-items: center;
        gap: 42px;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            transition: transform 0.5s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.border-max-width {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100vw;
    border-top: 4px solid #70E61C;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: #141D2F;
}

@media (max-width: 1090px) {
    .footer-container {
        padding-bottom: 50px;
    }
}


@media(max-width: 830px) {
    .footer-container {
        flex-direction: column;
        justify-content: unset;
        gap: 30px;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }

    .footer-middle {
        order: 3;
    }

    .footer-right{
        order: 2;
    }
}


@media(max-width: 700px) {
    .footer-middle span {
        font-size: 30px;
    }

    .footer-right img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

@media (max-width: 490px) {
    .footer-container{
        padding: 20px 16px;
    }
    .footer-middle span {
        font-size: 20px;
    }

    .footer-right {
        gap: 30px;
        justify-content: center;
    }
}