@use './styles/variables' as *;
@use './assets/fonts/fonts' as *;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/font/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/font/poppins-v20-latin-700.woff2') format('woff2');
}


:root {
  --container: #{$container-width};
  --gutter: 24px;
  --header-h: #{$header-height};
  --shape-h: clamp(340px, 26vw, 475px);
  --shape-overlap: clamp(120px, 14vw, 220px);
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 120px;
}

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: #141D2F;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: min(var(--container), calc(100% - (var(--gutter) * 2)));
  margin-inline: auto;
}

.app-main {
  min-height: calc(100vh - var(--header-h));
}