@use './styles/variables' as *;
@use './assets/fonts/fonts' as *;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/font/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/font/poppins-v20-latin-700.woff2') format('woff2');
}


:root {
  --container: #{$container-width};
  --gutter: 24px;
  --header-h: #{$header-height};
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: #141D2F;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: min(var(--container), calc(100% - (var(--gutter) * 2)));
  margin-inline: auto;
}

.app-main {
  min-height: calc(100vh - var(--header-h));
}

.bg-shape {
  position: relative;
  top: -220px;
  z-index: 10;
  width: 100%;
  height: 475px;
  background-image: url('/assets/img/bg-shape.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .bg-shape {
    top: -170px;
  }
}

@media(max-width: 1090px) {
  .bg-shape {
    top: -970px;
    height: 290px;
  }
}

@media (max-width: 877px) {
  .bg-shape {
    height: 245px;
  }
}

@media (max-width: 759px) {
  .bg-shape {
    height: 208px;
    background-position: center top;
  }
}

@media (max-width: 722px) {
  .bg-shape {
    top: -1050px;
  }
}

@media (max-width: 656px) {
  .bg-shape {
    top: -1069px;
  }
}

@media (max-width: 610px) {
  .bg-shape {
    top: -1170px;
  }
}


@media (max-width: 527px) {
  .bg-shape {
    top: -1218px;
  }
}

@media (max-width: 502px) {
  .bg-shape {
    top: -1500px;
  }
}

@media (max-width: 435px) {
  .bg-shape {
    top: -1568px;
  }
}

@media (max-width: 412px) {
  .bg-shape {
    top: -1638px;
  }
}

@media (max-width: 400px) {
  .bg-shape {
    top: -1420px;
  }
}

@media (max-width: 388px) {
  .bg-shape {
    top: -1510px;
  }
}

@media (max-width: 357px) {
  .bg-shape {
    top: -1630px;
  }
}

@media (max-width: 349px) {
  .bg-shape {
    top: -1675px;
  }
}

@media (max-width: 334px) {
  .bg-shape {
    top: -1780px;
  }
}

